:root{
    --gray-blue:  #243354;
}




body, html{
    background: var(--gray-blue);
    color: white;
}
header{
    background-color: navy;
    color: white;
    text-align: left;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px 2px lightslategray;
    padding: 1rem;
}
header, *{
    margin: 0;
}

a {
    color: white;
}
.stars{
    color: gold;
}
.text{
    font-weight: bold;
}